# **Pandas**
## To install:
* In Anaconda Prompt enter *conda install pandas* Type y and hit "Enter" and Conda should start installing the package.

## To use:
* import pandas as pd

In [ ]:
import pandas as pd

series_test = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(pd.Series(series_test))
# You'll see the output is "two" columns. The index on the left and the data on the right.
# The index is "kind-of" a column, but is better understood as the "address" of data in Pandas.
# We'll be working a lot with indices in the future.

In [ ]:
import os # This will be used to tell us where the file is
import pandas as pd
# pwd = means present working directory. like in the folder where you are writing your code
# cwd = current working folder
pwd = os.getcwd() # This creates a string of the folder this Python Script is stored in

filepath = pwd + "/simple_csv.csv" # This creates a string that is the filepath to the simple_csv file

first_import = pd.read_csv(filepath) # This reads the csv into Python
first_import

In [161]:
pwd

'c:\\Users\\Matthew Timothy\\Desktop\\Test'

# **COLUMNS**

In [162]:
import os #this tells code to go and look for what am about to tell you.
import pandas as pd # pd can be anything but by standard we use it
pwd = os.getcwd()

file = pwd + "/simple_csv.csv"
# file its the name you give to your variable, and you
# pass on the value to it, thats go in the pwd and find this file/sheet
# this sign "/" the front slash calls on a folder

display = pd.read_csv(file, nrows=10)
# create another variable that will now open up your file
# name it anything like i did (display), the call on pandas and tell it 
# what type of file you reading then in the brackets pass in the name of
# of the variable which has a path to that file then call it.
# by using "nrows=5" you tell it how many rows you want and specify by the number you put there

display["New_Column"] = list_nu =[7, 8, 1, 6, 0, 3, 5, 2, 6, 3]
list_nu[::-1] # You can specify a uniform value for every row 
display["New_Column2"] = range(10) # You can pass a list of values that is as long as the DataFrame
display["Adding Stuff"] = display["New_Column"] + display["New_Column2"] # You can take a couple of columns and add their values together
# display = display.drop(columns="Column2")

# display.drop(columns="Column3", inplace=True) # The "drop" method creates a copy of the DataFrame. 
                                                   # If you want to change the original DataFrame either do what we did in the line above, 
                                                   # or use the "inplace" argument
display

    Column1   Column2   Column3  New_Column  New_Column2  Adding Stuff
0  0.280925  0.910368  0.692982           7            0             7
1  0.719882  0.210024  0.761276           8            1             9
2  0.235752  0.059796  0.154667           1            2             3
3  0.603366  0.485614  0.013345           6            3             9
4  0.039985  0.236359  0.811832           0            4             4
5  0.015478  0.543641  0.112719           3            5             8
6  0.192540  0.409874  0.875082           5            6            11
7  0.380921  0.045468  0.515859           2            7             9
8  0.592471  0.786421  0.047249           6            8            14
9  0.072112  0.695694  0.409573           3            9            12

# **ROWS**

# will be using the *loc* and *iloc* functions a lot.
# The *loc* method allows us to use the names of columns to specify them. 
# You structure a loc query like below: 
# **dataframe.loc[from_row : to_row , [list_of_columns]]**

# **loc**

In [ ]:
display.loc[:, ["Column1", "Column2",	"Column3",	"New_Column", "New_Column2",	"Adding Stuff"]] # Select all rows in Column1. so we saying start from index 0 to the last index thats why we just put ':'

# display.loc[3:5, ["Column1", "Adding Stuff"]] # Select rows 0(from wher you want to start from) through 4(where you want to end from)
                                              # INCLUSIVE (different from other Python indices)
                                              # And you specify which columns you want to to display

# display.loc[:7, ["Column1", "New_Column2"]] # Select all rows in Column1 and Column2

# **iloc**

In [ ]:
display.iloc[2:5, 3:6] # in iloc you can not specify columns by using there names, you only use indexs(numbers)to specify them

# **Tidy Data in Pandas**

In [ ]:
netflix = pd.read_csv(pwd + "/netflix_titles.csv")
netflix

In [ ]:
list(netflix.columns)

In [ ]:
netflix.describe() #If we want to run some descriptive statistics on all the numerical columns in the dataset use

In [ ]:

netflix["listed_in"].unique() #If you want to see the unique values in a column just do this. where there is "type" thats where you put the column
# name you want to see whats in there

# **Filters**

In [ ]:
netflix[netflix["country"] == "Singapore"] # so youre saying in country(can be any column) show me items that are only for this particular item
netflix[netflix["type"] == "Movie"] # So its like in this column i just want to see this type of information only

In [ ]:
netflix[(netflix["country"] == "Singapore") & (netflix["type"] == "Movie") & (netflix["listed_in"] == "Stand-Up Comedy")] # Calling out multiple variables
# if running multiple functions you put everything in [] the each function in (). Call out the column first(e.g 'country') then == what you want in that
# column

In [ ]:
# netflix["unix_time"] = netflix["computer_date"].astype(int)
import datetime
import _strptime

a = datetime.datetime.strptime("10/12/2013", "%m/%d/%Y")
b = datetime.datetime.strptime("10/15/2013", "%m/%d/%Y")
a>b
False
netflix["computer_date"] = pd.to_datetime(netflix["date_added"], format='mixed')
netflix

In [ ]:
computer_date = pd.to_datetime(netflix["date_added"], format="mixed") # in the braces we sepecify the series and we do so by naming the dataframe then column
computer_date

In [ ]:
netflix["computer_date"].dropna() # the na means no value and we have to fill them in so we dont have any problem. and they mean there is no date in that row so we hav to fill it in

In [201]:
from datetime import datetime as dt

netflix["computer_date"].fillna(dt(2020, 1,1), inplace=True) # and from here when you run the above code you will see that the Nan value is filled
# this can work even when filling other Nan value

In [ ]:
netflix["unix_time"] = netflix["computer_date"].astype('int64').astype(dtype) # Unix Time  it's basically a way to express a date and time as an integer. It counts up 1 for every second since January 1st, 1970, known as the Unix Epoch.

# **Splitting Columns**

In [ ]:
netflix["date_added"].str.split(", ", expand=True) # So in the date_added column(thats in the dataframe) you have the full date written, 
# so you want to split that like months and years separetely you use this function.

In [ ]:
netflix[["Date Part 1", "Date Part 2"]] = netflix["date_added"].str.split(", ", expand=True) # in here you add that splitted date as a column now. the first
# function in this code line adds in the column and its name then the second code line its the one we used to split that code
netflix

In [ ]:
netflix.rename(columns={"Date Part 2": "Year", "Date Part 1": "Month"}, inplace=True)# renaming a column using a dictionary, so we rename date part 2 to year
# The key is the current column name and the value is the new name
# this is how you write a dictionary (dictionary = {'Matt':"Gift", 'judy':"Love"})
netflix

In [ ]:
netflix["cast"].fillna("No Cast", inplace=True) ## and from here when you run the above code you will see that the Nan value is filled
# this can work even when filling other Nan value in other columns. this is for cast
netflix["country"].fillna("Japan", inplace=True) # this is for country
netflix["director"].fillna("Matt Timo", inplace=True) # this is for director
netflix

In [ ]:
netflix[netflix["country"] == "Japan"] # now i can check how many we've renamed Nan to Japan so we just filter using this cold that says,
# in country column shows me what was made in Japan. this is for country column
netflix[(netflix["director"] == "Matt Timo") & (netflix["country"] == "Japan")] # this is now filtering more than one column. like i only want to see movies
# and TV shows directed by "Matt Timo" in "Japan"

In [ ]:
# The map method will pass each element of a Series (remember a series is basically a column of a DataFrame) to the lambda function. 
# The apply method will pass an entire row to the lambda function. 
# In short this means that if you want to perform calculations using multiple columns of data, use the apply method, otherwise use the map method. 
netflix["genre_count"] = netflix["listed_in"].map(lambda x: len(x.split(","))) # What Pandas is doing here, 
# is it's passing each element of the Series netflix["listed_in"] to the lambda function as x. We then perform the logic with the code after the colon
# if you want to handle more than one column
netflix["nonsensical_columns"] = netflix.apply(lambda x: len(x["cast"].split(",")) + len(x["listed_in"].split(",")), axis = 1)

# **GroupBy, Aggregation, and Sorting Values**
* Often times you'll want to perform aggregations on your data. In this case, you'll want to use groupbys and aggregations.
* So its like trying to know, how many of this tye of thing are in this column e.g How many movies and TV show are in each country.
* So you choose which column to use in thi case we show_id.
* **.reset_index()** makes the table comeout in order

In [ ]:
netflix.groupby("country")["show_id"].count().reset_index() # Here we're saying which country had alot of movies. because each movie had an id
netflix.groupby("director")["type"].count().reset_index().sort_values(by="type", ascending=False) # Here we saying which director had alot of movies and tv shows
# ascending=False means it should put the big value on to then doing down

In [ ]:
netflix_movies_by_country = netflix.groupby("country")["show_id"].count().reset_index().sort_values(by="show_id", ascending=False)
netflix_movies_by_country

# **Joints and Unions**
# Oftentimes we'll want to enrich our data by adding more data from other datasets to it.
# There are two major ways we can combine our datasets together: 
* **Unions:** Put simply, a union (SQL Union) is the process of stacking two tables on top of one another. You will usually do this when your data is split up into multiple sections like an excel spreadsheet of a year’s sales split by month.

In [ ]:
second_dataset = pd.read_csv(pwd + "/netflix_titles_second.csv") # We've pulled inthe second dataframe we want to stack on top
second_dataset

# At times the direct code cant not work. When pands is performing concat opreation horizontally (axis=1) it tries to find rows with sames indexes
#and join them horizontlly. So row with index 1 deom dataframe1 will be matched with row with index 1. Therefore reset_index in either one of them
# or both if both have troubled indexes. so when writing code after declaring each dataframr you as(.reset_index(drop=True) then outside the [] put
# (, axis=1))
new_dataset = pd.concat([netflix.reset_index(drop=True), second_dataset.reset_index(drop=True)], axis=1) # This is how you stuck it up together
new_dataset

In [260]:
# Pivot
# Oftentimes you'll want to pivot or "melt" data. Pivoting data takes it from the "long" format that we are used to
# and puts it in a "wide" format that might be easier to read. Here's an example. 
pivot_table = netflix.pivot_table(index="country", columns="type", values= "title", aggfunc='count', fill_value=0).reset_index()
pivot_table

type                                            country  Movie  TV Show
0                                             Argentina     34       16
1     Argentina, Brazil, France, Poland, Germany, De...      1        0
2                                      Argentina, Chile      1        0
3                                Argentina, Chile, Peru      1        0
4                                     Argentina, France      1        0
..                                                  ...    ...      ...
676                                           Venezuela      1        0
677                                 Venezuela, Colombia      1        0
678                                             Vietnam      5        0
679                                        West Germany      1        0
680                                            Zimbabwe      1        0

[681 rows x 3 columns]

In [261]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

df.melt(id_vars=['A'], value_vars=['B'],
        var_name='myVarname', value_name='myValname')

   A myVarname  myValname
0  a         B          1
1  b         B          3
2  c         B          5